body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    sans-serif;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: #26344a08;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #303336;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1em;
  line-height: inherit;
  color: #000305cf;
  background: #001d4714;
  border-radius: 0.4em;
  border: 0;
}

input:focus {
  outline: none;
}

button {
  font-size: 1.065rem;
  color: #fff;
  font-weight: 700;
  background: #57a2ff;
  display: inline-block;
  box-sizing: border-box;
  padding: 6px 1em;
  border: 1px solid #000;
  text-align: center;
  border-color: transparent;
  border-radius: 6px;
}

#logout-button {
  margin: 1rem 0 3rem 0;
  background: #ff5c57;
}

/* Only works when the to-do-list has been created */
#to-do-list {
  text-align: left;
}

.to-do-item-container {
  display: flex;
  border-bottom: 1px solid #0000001a;
}

input[type="checkbox"] {
  width: 10%;
  border: 1px solid #0000001a;
  border-radius: 7px;
}

/* Ignore this part */
#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
}


#to-do-form {
  display: none;
}