body {
  background-color: #f2f1f6;
  font-family: 'SF Pro Display', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  width: 290px;
  border-radius: 10px;
  background-color: white;
  padding: 5px 10px 15px  10px;
  margin: 10px 10px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#smol-word {
  font-size: 12px;
  color: #ff4900;
}

.description {
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0;
}

hr {
  border: none;
  height: 1px;
  background: #e5e5ea;
  margin: 0 60px;
}

.number {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.step-counter {
  color: #8e8e93;
}

.progress-bar {
  background-color: #ff4900;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.progress-bar > p {
  color: white;
  padding: 2px 10px;
  font-size: 14px;
}

p {
  margin: 0;
}

.grey {
  background-color: #8e8e93;
  width: 90%;
}


@media screen and (max-width: 760px) {
  body {
    flex-direction: column;
  }
}